/* Global: */
html {
  font-size: 14px;
	background-color: #292929;
  min-width: 250px;
	/* background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */
	-webkit-font-smoothing: antialiased;
  /* substitute full-width punctuations with half-width: */
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: source-han-serif-sc, serif;
  font-weight: 600;
	color: white;
	margin: 0;
	text-align: center;
}
/* Grid for containment structures: */
header, footer, .container, .text-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4rem;
	margin: 0 auto;
	width: 100vw;
	max-width: 80%;
}
header {
	border-bottom: 1px white solid;
}
footer {
  height: 3vw;
	border-top: 1px #b6b6b6 solid;
  text-align: center;
  margin: 0 auto;
  background-color: #292929;
}
.container {
	height: 94vh;
}
.text-container {
}
h1 {
	font-size: 4rem;
  text-align: left;
  grid-column-end: span 4;
  line-height: 4.4rem;
}
h2, h3 {
	margin: auto;
}
h2 {
	font-size: 1.3rem;
	letter-spacing: 0.2rem;
}
h4 {
  font-size: 2rem;
  padding-top: 2vw;
  margin: auto;
}
p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #959595;
  line-height: 2.4rem;
  margin: 1.5vw auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
p a, h3 a {
  transition: color 0.3s ease;
  border-bottom: 1px #959595 solid;
}
h1 a {
  transition: color 0.3s ease;
}
p a:hover {
  color: white;
  border-bottom: none;
}
h3 a:hover {
  color: #959595;
  border-bottom: none;
}
h1 a:hover {
  color: #959595;
}
.nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.nav a {
  grid-column-end: span 1;
  color: #b6b6b6;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  padding-top: 0.6vw;
}
.nav a:hover {
  background-color: white;
  color: #292929;
}
footer a.active {
  background-color: #323232;
  color: #b6b6b6;
}
.column {
	margin: auto;
	grid-column-end: span 1;
}
.text-column {
	margin: 10vh auto;
	grid-column-end: span 2;
  text-align: left;
}
.article {
  padding-top: 2.5vw;
}
.gfx {
	position: relative;
	/* border: 1.5px white solid; */
	width: 13vw;
	margin: 2vh auto;
  text-align: center;
}
.caption {
  font-size: 1rem;
}
::selection {
	background: #ffffff;
	color: #292929;
}

/* Animation Graphics */


/* L screen size */
@media screen and (max-width: 1299px) {
  .text-column {
    grid-column-end: span 3;
  }
}
/* M screen size */
@media screen and (max-width: 1079px) {
	html {
		font-size: 16px;
	}
  .nav a {
    font-size: 0.8rem;
  }
  h1 {
    line-height: 4rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 3vw auto;
  }
  footer {
    margin-top: 15vh;
    height: 7vw;
  }
	.container, .text-container header {
		max-width: 70%;
    height: auto;
	}
	.column {
		grid-column-end: span 2;
    padding-top: 15vh;
	}
  .text-column {
    grid-column-end: span 3;
  }
  .article {
    padding-top: 6vw;
  }
  .caption {
    font-size: 0.6rem;
  }
	.gfx {
		width: 15vw;
	}
}
/* S screen size */
@media screen and (max-width: 699px) {
  footer {
    max-width: 100%;
    border: none;
    margin: auto;
  }
  h1 {
    font-size: 2rem;
    grid-column-end: span 4;
    line-height: 2.3rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin: 6vw auto;
  }
  .nav {
    position: relative;
  }
  .nav a {
    margin: 0 10vw;
    grid-column-end: span 4;
    padding-top: 5vw;
    padding-bottom: 5vw;
    border-bottom: 1px white solid;
    color: white;
    font-size: 1rem;
  }
  footer a.active {
    display: none;
  }
	.container, .text-container {
		max-width: 100%;
		min-width: 250px;
    height: auto;
	}
	.column, .text-column {
    margin: auto 10vw;
		grid-column-end: span 4;
		padding: 36vw 0;
		border-bottom: 1px white solid;
	}
  .article {
    padding-top: 10vw;
    font-size: 1rem;
  }
	.gfx {
		width: 50vw;
	}
  .caption {
    font-size: 0.65rem;
  }
}
