/* Global: */
html {
  font-size: 16px;
	background-color: #292929;
	/* background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */
	-webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: source-han-serif-sc, serif;
	color: white;
	margin: 0;
	text-align: center;
}
h1 {
	font-size: 3rem;
}
h2, h3 {
	margin: auto;
}
h2 {
	font-size: 1.6rem;
	letter-spacing: 0.4rem;
}
header {
	margin: 0 auto;
	width: 100vw;
	max-width: 80%;
	border-bottom: 1px white solid;
}
footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 4rem;
  margin: auto;
	max-width: 80%;
	width: 100vw;
	border-top: 1px white solid;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 4rem;
  margin: auto;
	max-width: 80%;
	width: 100vw;
	height: 70vh;
}
.column {
	margin: auto;
	grid-column-end: span 1;
}
.gfx {
	position: relative;
	border: 1.5px white solid;
	width: 15vw;
	margin: 2rem auto;
}
::selection {
	background: #ffe852;
	color: #282828;
}

/* M screen size */
@media screen and (max-width: 1023px) {
	html {
		font-size: 12px;
	}
	.container {
		max-width: 70%;
	}
	.column {
		grid-column-end: span 2;
	}
	.gfx {
		width: 18vw;
	}
}
/* S screen size */
@media screen and (max-width: 599px) {
	html {
		font-size: 14px;
	}
	.container {
		max-width: 100%;
		min-width: 250px;
	}
	.column {
		grid-column-end: span 4;
		padding: 20vh 0;
		border-bottom: 1px white solid;
	}
	.gfx {
		width: 70vw;
	}
}
